<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VLDMRProject</title>
</head>
<body>
    <p>Бинарная классификация. Модель ядра: Радиальная базисная функция </p>
    <a href="/titanic/clear">Очистить</a>
    <br/>
    <label th:text="${resultMessage}">Сообщения:</label>
    <table>
        <tr>
            <td>
                <form action="/titanic/train">
                    <h4>Обучение:</h4>
                    <p>Степень:</p>
                    <input type="number" value="3" name="degree" title="degree"/>
                    <p>Гамма:</p>
                    <input type="number" value="0" name="gamma" title="gamma"/>
                    <!--<p>Коеффицент:</p>
                    <input type="number" value="0" name="coef" title="coef"/>-->
                    <input type="submit" value="Обучать" />
                </form>
            </td>
            <td>
                <form action="/titanic/test">
                    <h4>Анализ тестовой выборки:</h4>
                    <input type="submit" value="Начать"/>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <p>Данные обучающей выборки(2000 пассажиров)</p>
                <textarea cols="80" rows="40" th:text="${trainingData}" title="training"></textarea>
            </td>
            <td>
                <p>Данные тестовой выборки(201 пассажир)</p>
                <textarea cols="80" rows="40" th:text="${testingData}" title="testing"></textarea>
            </td>
        </tr>
    </table>
</body>
</html>